version: "3.8"

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: ${DOCKERHUB_USERNAME}/kittygram_backend
    env_file: .env
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - postgres
    restart: always

  frontend:
    image: ${DOCKERHUB_USERNAME}/kittygram_frontend
    volumes:
      - static:/app/build
    restart: always

  gateway:
    image: ${DOCKERHUB_USERNAME}/kittygram_gateway
    ports:
      - "8000:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  static:
  media:
  pg_data:
